body {
  background-color: #E3E3E3;
}

.hero {
  width: 100%;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.hero h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  line-height: 66px;
  font-weight: normal;
  color: black;
}
.hero h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  line-height: 33px;
  font-weight: bold;
}
@media all and (max-width: 40em) {
  h2 {
    font-size: 2.2rem;
  }
}
.yellow {color: #FAAA2E;}
.orange {color: #D05233;}
.green {color: #4F7A63;}
.button {
  text-transform: uppercase;
  color: white;
  background: black;
}
.yellow-bg {
  background: #FAAA2E;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 90px !important;
}
.orange-bg {
  background: #D05233;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 90px !important;
}
.green-bg {
  background: #4F7A63;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 90px !important;
}
.green-bg h1, .green-bg h2, .green-bg h3, .green-bg p, .green-bg a {
  color: #FFFFFF !important;
}
button:hover, .button:hover {
  background: #4F7A63;
}
.black-bg {
  background: #000000;
  overflow: auto;
  padding: 50px !important;
}
.white-bg {
  background: #ffffff;
  background-size: cover;
  width: 100%;
  padding: 50px !important;
}

.black-bg p {
  font-size: 18px;
  font-weight: normal;
  color: white;
}

p {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  line-height: 33px;
}
.white {
  color: white;
}
table {
  width: 100%;
}
table td {
  padding: 10px 0px;
  /*border-bottom: 1px solid #e8e8e8; */
  color: #707070;
}
table th, h4 {
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding-bottom: 25px;
}
.article {
  padding: 40px;
}
.article h2, h3 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: normal;
  line-height: 23px;
}
.article h3 {
  font-size: 14px;
  color: #707070;
}
